<a href="https://colab.research.google.com/github/4yejw/DeepLearning/blob/main/deeplearning_report_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
#① ‘red’ 데이터 처음 세줄(3행)을 print 출력하고 열(column)과 행(row)이 각각 몇 개인지 적으시오.
import pandas as pd
red=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',sep=';')

print(red.head(3))
print()
print("행: {} 열: {}".format(len(red.index),len(red.columns)))

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5

행: 1599 열: 12

In [124]:
#② 열(column)가운데 임의로 5개만 선택하여 ‘red’ 데이터를 다시 만들고 처음 5행을 print 출력한다.
import pandas as pd
red=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',sep=';')

red = red.sample(n=5,random_state=789,axis=1) #열 중에 5개만 랜덤 선택하여 red data를 다시 만듦

print(red.head())

   free sulfur dioxide  alcohol  total sulfur dioxide  sulphates  density
0                 11.0      9.4                  34.0       0.56   0.9978
1                 25.0      9.8                  67.0       0.68   0.9968
2                 15.0      9.8                  54.0       0.65   0.9970
3                 17.0      9.8                  60.0       0.58   0.9980
4                 11.0      9.4                  34.0       0.56   0.9978

In [62]:
#③ ②번에서 선택한 5개 열 가운데 임의로 한 개를 선택하여 본인 영어이름으로 column name을 바꾸고 이 column을 index로 한다. 처음 5행을 print 출력한다.
import numpy as np
import pandas as pd
import random

red=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',sep=';')

red=red.sample(n=5,random_state=789,axis=1) #열 중에 5개만 랜덤 선택하여 red data를 다시 만듦

rename_col=red.columns[random.randrange(0,5)] #5개의 열 가운데 하나를 선택

red.rename(columns={rename_col:'LeeGoeun'},inplace=True) #열의 이름을 변경

red = red.set_index('LeeGoeun') #열을 인덱스로 지정
print(red.head())

          free sulfur dioxide  alcohol  total sulfur dioxide  density
LeeGoeun
0.56                     11.0      9.4                  34.0   0.9978
0.68                     25.0      9.8                  67.0   0.9968
0.65                     15.0      9.8                  54.0   0.9970
0.58                     17.0      9.8                  60.0   0.9980
0.56                     11.0      9.4                  34.0   0.9978

In [101]:
#1. column이 3열, row가 5행인 pandas data를 임의로 만든다. 이때, 데이터값은 0~100사이의 임의의 값으로 한다. column name은 임의로 한다. 만들어진 pandas data를 전체 print 출력한다.
#2. 위 pandas data를 이용하여 다음처럼 split 하여 4개의 데이터를 만들고 각각을 전체 print 출력한다. 데이터 이름은 임의로 한다.
import numpy as np
import pandas as pd
import random

dataset =pd.DataFrame({'c1':random.sample(range(100),5) ,'c2':random.sample(range(100),5) ,'c3':random.sample(range(100),5) },index = [1,2,3,4,5])

a=dataset.iloc[:3,:2]
b=dataset.iloc[:3,2:3]
c=dataset.iloc[3:,:2]
d=dataset.iloc[3:,2:]
print(a,'\n')
print(b,'\n')
print(c,'\n')
print(d,'\n')

   c1  c2
1  12  53
2   7  65
3  87  89

   c3
1  17
2  43
3  83

   c1  c2
4  98   9
5  77  66

   c3
4  24
5  35

In [122]:
#3. 1번의 데이터에서 한 column에 있는 5개 숫자의 합(sum)과 평균(average)를 만든다. 3열에 대하여 각각 수행한다. 이 과정을 for문을 이용하여 코딩한다. 계산된 합과 평균을 2행 3열의 pandas 데이터로 만든다.
#4. 3번의 합과 평균 pandas 데이터를 1번 pandas 데이터와 결합하여 3열 7행의 새로운 pandas 데이터를 만든다.  이때, pandas의 concate 메서드를 사용한다. 새로운 pandas 전체를 print 출력한다.
import numpy as np
import pandas as pd
import random

dataset =pd.DataFrame({'c1':random.sample(range(100),5) ,'c2':random.sample(range(100),5) ,'c3':random.sample(range(100),5) },index = [1,2,3,4,5])
print(dataset)

result =pd.DataFrame({'c1':[0,0],'c2':[0,0],'c3':[0,0]},index=['sum','average'])

for i in range(3):
  result.iloc[0,i]=dataset[dataset.columns[i]].sum() #합 구하기
  result.iloc[1,i]=result.iloc[0,i]/5 #평균 구하기
print(result,'\n')

new = pd.concat([dataset,result])
print(new)

   c1  c2  c3
1  16  46  24
2  38  29  88
3   0  23  91
4  50  80  71
5   7   4  14
            c1     c2     c3
sum      111.0  182.0  288.0
average   22.2   36.4   57.6

            c1     c2     c3
1         16.0   46.0   24.0
2         38.0   29.0   88.0
3          0.0   23.0   91.0
4         50.0   80.0   71.0
5          7.0    4.0   14.0
sum      111.0  182.0  288.0
average   22.2   36.4   57.6